# Dependencies
node_modules/

# Environment variables (keep your .env file private!)
.env
.env.local
.env.production

# Uploads
/public/uploads/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Cache
.cache/
